<style>
.content
{
float:right;
padding:2px;
width:78%;
border-left:1px solid gray;
min-height:490px;
}
.footer
{
text-align:center;
padding:5px;
width:100%;
min-height:50px;
border-top:1px solid gray;
font-weight:bold;
}
.mainDiv
{
width:95%;
min-height:600px;
border:1px solid black;
padding:5px;
}
.header
{
width:100%;
border-bottom:1px solid black;
min-height:90px;
}
.bodyDiv
{
width:100%;
min-height:493px;
}
.linksDiv
{
float:left;
padding:5px;
width:18%;
min-height:490px;
}
.selectRow
{
background:black;
color:white;
}
.row
{
background:white;
color:black;
}
.removeDisplay
{
display:none;
}
.display
{
display:block;
}
.functionalityDiv
{
border:1px solid black;
padding:5px;
min-height:40px;
width:99%;
float:left;
}
</style>